<h1> Companies </h1>

<% companies=Company.all %>

<p> There are <%= Company.all.count %> companies:</p>

<ul>
    <% for company in companies %>
        <li><%= company["name"] %></li>
    <% end %>
</ul>